__pycache__/
download/__pycache__
download/*
pRaw/*
processed/*
post/*.pyc
post/.ipynb_checkpoints/*
post/fixes.py
post/getGSheet-8b845085ca3e.json
post/gsheetIO.txt

keys.ini
download/sample_data_runs.json
*.swp
